@use "../base/mixins" as m;
@use "../base/variables" as v;

.descargar {
    background-color: v.$grisClaro;
    padding: v.$separacion 0;

    &__grid {
        display: flex;
        flex-direction: column-reverse;

        @include m.tablet { 
            @include m.grid(2 , v.$separacion)
         }
    }

    &__imagen {
        width: 50%;
        margin:  5rem auto 0 auto;
        transition: transform 300ms;

        @include m.tablet { 
            margin: 0 auto;
         }

        &:hover {
            transform: rotate(4deg) scale(1.2);
        }
    }
}